.DS_Store
node_modules
.next
coverage
playwright-report
test-results
logs/
tsconfig.tsbuildinfo
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
turbo
.superpowers/
.pm2/
public/uploads/
